{{#if showForm}}
  <form onsubmit={{action "save"}}>
    {{input class="form-control" placeholder="New card title" value=title autofocus=true}}
    <button class="btn full-width btn-hidden" type="button" name="button">Submit</button>
  </form>
{{else}}
<button class="btn btn-text" type="button" name="button" onclick={{action "toggleForm"}}>
  Add new card . . .
</button>
{{/if}}
